.videoPlay{
    width: 100%;
    margin: 0;
    height: 900px;
}
.videoPlay video{
    opacity: 0.7;
    height: 900px;
    -o-object-fit: cover;
    object-fit: cover;
}

.videoPlay::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-color: rgba(0,0,0,.5);
}

@media screen and (max-width: 640px) {
    .videoPlay{
        height: 700px;
    }
    .videoPlay video{
        height: 700px;
    }
    .videoPlay::after{
        height: 700px;
    }

}