.topMenuMainBlock{
    width: calc(100% - 100px);
    position: fixed;
    z-index: 3;
    height: 80px;
    left: 100px;
    display: grid;
    grid-template-columns: 1fr 15fr 4fr;
    grid-template-rows: 100px;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: white;

}

.searchFilter{
    margin-top: 20px;
    margin-left: 20px;
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
    border: 5px solid white;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.searchFilter p{
    text-align: center;
    line-height: 40px;
}

.searchFilter:hover{
    background-color: white;
    color: black;
}

.filterBlock{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(40px, 150px));
}

.filterBlock li{
    cursor: pointer;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    font-weight: bold;
}

.filterBlock li i{
    margin-right: 10px;
}

.filterBlock li:hover{
    color: #999;
}

.listActive{
    color: #999;
    text-decoration: underline;
}

@media screen and (max-width: 940px) {
    .filterBlock{
        display: grid;
        grid-template-columns: 200px;
        position: absolute;
        right: 50px;
        margin-top: 40px;
        background-color: black;
        overflow: hidden;
        transition:1s;
        top:0;
    }

    .filterBlock li:not(:first-child){
        display: block;
        margin-top: 20px;
    }
}