.galleryBlock{
    width: 100%;
    background-color: #111;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 300px;
}

.galleryBlock div{
    position: relative;
}

.galleryBlock div img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.galleryBlock div::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,0,.4);
    z-index: 10;
    top:0;
    left: 0;
}