@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.loaderDivVisible{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: 1000;
}

.loaderDivNotVisible{
    display: none;
}

.loaderText{
    color: #fff;
    font-size: 40px;
    margin-top: 30%;
   text-align: center;
    text-transform: uppercase;
}

.loaderDesc{
    text-align: center;
    color: #00fffb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.loaderDesc span{
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5px;
    background-color: white;
}
