@import url('https://fonts.googleapis.com/css?family=Mitr:200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

.innerEmpBlock{
    display:grid;
    color: white;
    width: 45%;
    grid-template-columns: 1fr minmax(150px,2fr);
    grid-column-gap: 20px;
    grid-auto-rows: 370px;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
    top: 20px;
}

.innerBlockImageFilter::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 350px;
    background-color: #111;
    opacity: 0.2;
}
.innerBlockEmpTitle{
    margin-top: -25px;
}

.innerBlockEmpTitle h4{
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 20px;
}

.innerBlockEmpTitle p{
    font-family: 'Share Tech Mono', monospace;
}

@media screen and (max-width: 960px) {
    .innerEmpBlock{
        display:grid;
        color: white;
        width: 90%;
        margin-left: 50px;
        margin-right: 50px;
    }
}

