.blurDiv{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    transition: 500ms;
}

.mainCartBlock h3{
    cursor: pointer;
    transition: 300ms;
    position: relative;
    z-index: 30;
}

.mainCartBlock h3:hover{
    text-shadow: 1px 1px 4px white;
}

.numberOfItems{
    display: inline-block;
    font-size: 10px;
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 0 5px 0 5px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: -5px;
    z-index: 30;
}
.cartListMainDiv{
    width: calc(65% - 100px);
    float: right;
    overflow: auto;
    list-style: none;
    position: absolute;
    top: 60px;
    right: 30px;
    z-index: 20;
    padding-left: 30px;
    padding-right: 30px;
    transition: 500ms;
    display: grid;
    background-color: rgba(255, 255,255,.3);
}


.cartList{
    list-style: none;
    position: relative;
    display: grid;
    grid-auto-rows: 150px;
    grid-row-gap: 20px;
}

.furnitureInCart{
    display: grid;
    grid-template-columns: 150px 1fr 30px 50px;
    grid-auto-rows: 100px;
    font-size: 0.8rem;
}

.furnitureInCart img{
    width: 150px;
    height: 148px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 20px;
}

.cartDescriptionOfItem{
    margin-left: 20px;
    margin-right: 20px;
}

.cartDescriptionOfItem a{
    margin: 0;
    text-decoration: none;
    color: white;

}

.priceOfProduct{
    font-size: 1.3rem;
    font-family: 'Abril Fatface', cursive;
    color: #d3d3d3;
}

input{
    margin-top: 40px;
    border: none;
    background-color: white;
    color: #333;
    height: 38px;
    width: 30px;
    text-align: center;
}

.btnDelete{
    margin-top: 40px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #999;
    color: white;
    cursor: pointer;
}

.btnDelete:hover{
    background-color: red;
}


.footerOfCart{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}
.checkout{
    width: 200px;
    height: 50px;
    background-color: black;
    border: 2px solid white;
    color: white;
}

@media screen and (max-width: 920px){
    .furnitureInCart{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-auto-rows: 100px;

    }
}
