.mainCartBlock h3{
    cursor: pointer;
    transition: 300ms;
    position: relative;
}

.mainCartBlock h3:hover{
    color: coral;
}

.numberOfItems{
    display: inline-block;
    font-size: 10px;
    background-color: coral;
    color: white;
    padding: 0 5px 0 5px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: -5px;
}

.cartList{
    width: 300px;
    overflow: hidden;
    list-style: none;
    background-color: white;
    position: absolute;
    top: 60px; right: 30px;
    z-index: 20;
    transition: 500ms;
}