.vrButton{
    border: 5px solid black;
    padding: 10px 20px 10px 20px;
    font-family: 'Staatliches', cursive;
    cursor: pointer;
    transition: 500ms;
    position: relative;
    width: 200px;
    height: 50px;
    overflow: hidden;
    color: black;
}

.btnFlow{
    font-size: 20px;
    text-align: center;
}

.btnFlow::after{
    content: 'Look at vr';
    margin-left: 20px;
    left: 100%;
}

.vrButton:hover{
    animation: hoverLive;
    animation-iteration-count: infinite;
    animation-duration: 500ms;
}

@keyframes hoverLive {
    from{
        background-color: white;
        color: black;
    }
    to{
        background-color: black;
        color: white;
    }
}