.cartButton{
    border: 5px solid coral;
    background-color: coral;
    padding: 10px 20px 10px 20px;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    cursor: pointer;
    transition: 500ms;
    overflow: hidden;
    position: relative;
    width: 130px;
    height: 50px;
}


.cartButton span{
    width: 250px;
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: coral;
}

.cartButton:hover{
    background-color: coral;
}

.btnFlow i{
    margin-right: 100px;
    background-color: coral;
}

.btnLeftSlowMotion .btnFlow{
    animation: replaceIconToText;
    animation-duration: 500ms;
    left: -130px;
}

.btnCloseSlowMotion .btnFlow{
    animation: replaceTextToIcon;
    animation-duration: 500ms;
    left: 20px;
}

.cartButton[disabled]{
    background-color: coral;
    color: white;
}

.cartButton[disabled] .btnFlow{
    left: -130px;
}

@keyframes replaceIconToText {
    from{
        left: 20px;
    }
    to{
        left: -130px;
    }
}

@keyframes replaceTextToIcon {
    from{
        left: -130px;
    }
    to{
        left: 20px;
    }
}