.cartButton{
    border: 5px solid black;
    background-color: black;
    padding: 10px 20px 10px 20px;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    cursor: pointer;
    transition: 500ms;
    position: relative;
    width: 150px;
    height: 50px;
    color: white;
    text-align: center;
}

.btnLeftSlowMotion .btnFlow{
    animation: replaceIconToText;
    animation-duration: 500ms;
}

.cartButton:hover{
    background: repeating-linear-gradient(45deg, white, white 3px, black 3px, black 6px);
    color:black;
}

.cartButton[disabled]{
    background-color: #111;
}

.cartButton[disabled]:after{
    content: "ADDED";
    margin-left: 20px;
}