@import url('https://fonts.googleapis.com/css?family=Mitr:200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

.footer{
    width: 100%;
    background-color: #111111;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-column-gap: 20px;
    align-items: center;
    justify-items: center;
    color: white;
}

.footerText p{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.contactUsFooter h5{
    margin: 0;
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: greenyellow;
}

.footer p{
    font-family: 'Share Tech Mono', monospace;
    font-size: 18px;
    font-weight: 200;
    color: #fff;
}

.menuVisible ul{
    list-style: none;
    border: 4px solid white;
    padding: 40px;
}

.menuVisible ul li{
    text-decoration: none;
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
}


.menuVisible ul li:not(:first-child){
    margin-top:20px;
}

.menuVisible ul li a{
    text-decoration: none;
    transition: 500ms;
}

.menuVisible ul li a:hover{
    color: #00fffb;
}
