.menuVisible{
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    justify-items: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
}

.menuNoneVisible{
    display: none;
}

.menuVisible ul{
    list-style: none;
}
.menuVisible ul li a{
    text-decoration: none;
    color: white;
}

@keyframes openMenu {
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}
