.modalWindow{
    width: 200px;
    position: fixed;
    overflow: auto;
    height: 100vh;
    left: 80px;
    background-color: rgba(0,0,0,1);
    padding: 5rem;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: leftSlowMotionForFilterBlock;
    animation-duration: 1s;
}

.modalWindowClose{
    overflow: hidden;
    position: fixed;
    height: 100vh;
    left: -300px;
    background-color: rgba(0,0,0,1);
    padding: 5rem;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: closeSlowMotionForFilterBlock;
    animation-duration: 1s;
}

.inputFilterBlock{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-column-gap: 20px;
}

.modalBody label input{
    display: none;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark{
    height: 25px;
    background-color: white;
    text-align: center;
    line-height: 25px;
    color: black;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color: coral;
    color: white;
}

.checkmark:after {
    content: "";
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: inline-block;
}
.container .checkmark:after {
    width: 5px;
    height: 25px;
    float: right;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@keyframes leftSlowMotionForFilterBlock {
    from{
        left: -300px;
    }
    to{
        left: 80px;
    }

}

@keyframes closeSlowMotionForFilterBlock {
    from{
        left: 80px;
    }
    to{
        left: -300px;
    }

}

