@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
html{
    scroll-behavior: smooth;
    position: relative;
}

body{
    background-image: url("./media/2.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}

h1{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    font-weight: bold;
}

h2, h3, h4{
    font-family: 'Abril Fatface', cursive;
    font-weight: 200;
}


a,p, tr, td{
    font-family: 'Staatliches', cursive;
}

table{
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    color: white;
}

tr, td{
    border-bottom: 1px solid #999;
    padding: 15px;
    text-align: left;
    font-size: 1.1rem;
}

tr:hover{
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    transition: 0.5s;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}