@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

html{
    scroll-behavior: smooth;
    position: relative;
}

body{
    background-image: url("./media/2.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}

h1{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    font-weight: bold;
}

h2, h3, h4{
    font-family: 'Abril Fatface', cursive;
    font-weight: 200;
}


a,p, tr, td{
    font-family: 'Staatliches', cursive;
}

table{
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    color: white;
}

tr, td{
    border-bottom: 1px solid #999;
    padding: 15px;
    text-align: left;
    font-size: 1.1rem;
}

tr:hover{
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
}

.content{
    width: calc(100% - 100px);
    min-height: 100vh;
    float: right;
    background-color: rgba(0,0,0,.2);
    backdrop-filter: blur(5px);

}
form{
    width: calc(100% - 40px);
}
.form-group{
    font-family: 'Staatliches', cursive;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
}
.form-row{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 5px;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    grid-row-gap: 20px;
}

.form-input{
    width: calc(100% - 40px);
    height: 40px;
    border: 1px solid white;
    border-radius: 2px;
    background-color: white;
    color: #333;
    margin-top: 10px;
    text-align: left;
    font-family: 'Staatliches', cursive;
    font-size: 1.1rem;
    padding-right: 10px;
    padding-left: 10px;
}

.input-error{
    width: calc(100% - 40px);
    height: 40px;
    border: 1px solid red;
    border-radius: 2px;
    background-color: lightpink;
    color: #888;
    margin-top: 10px;
    text-align: left;
    font-family: 'Staatliches', cursive;
    font-size: 1.1rem;
    padding-right: 10px;
    padding-left: 10px;
}

.input-error[placeholder]{
    font-size: 0.8rem;
}

select{
    width: calc(100% - 20px);
    height: 42px;
    border: 1px solid white;
    border-radius: 2px;
    text-align: left;
    font-family: 'Staatliches', cursive;
    font-size: 1.1rem;
    padding-right: 10px;
    padding-left: 10px;
    color: #333;
    margin-top: 10px;
}
.form-default{
    border: 1px solid white;
    background-color: white;
    font-size: 1.1rem;
    color: #333;
}

.form-error{
    border: 1px solid red;
    background-color: lightpink;
    font-size: 0.8rem;
    color: #888;
}
.form-section-col2{
    color: white;
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

textarea{
    width: calc(100% - 40px);
    height: 80px;
    border: 1px solid white;
    border-radius: 2px;
    text-align: left;
    color: #333;
    font-size: 1.1rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

input[type="radio"]{
   display: none;
}

.radio-btn-position{
    display: grid;
    grid-template-columns: 100px;
    grid-column-gap: 10px;
}

input[type="radio"] ~ .radioBtn{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    color: black;
    position: relative;
    transition: 500ms;
}

input[type="radio"]:checked ~ .radioBtn{
    background-color: #999;
    color: white;
}

input[type="radio"]:checked ~.radioBtn:after{
    content: ' ';
    position: absolute;
    top: 10px;
    left: 90px;
    width: 20px;
    height: 20px;
    background-image: url("./media/tick.png");
    background-size: 100% 100%;

}

input[type="radio"]:disabled{
    background: #888;
    cursor: alias;
}

.radio-btn-checked{
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 15px;
}

hr{
    border:none;
    height: 2px;
    width: 80%;
    background-color: white;
}

.text-center{
    text-align: center;
}

.frame{
    border: 2px solid white;
    padding: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    transition: 0.5s;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}

@media screen and (max-width: 920px) {
    .frame {
        border: none;
        padding: 0;
    }
}