.mainFurnitureBlock{
    height: 100%;
    float: right;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 40px;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-row-gap: 20px;
    padding: 10px;
    opacity: 1;
    animation: slowOpacity;
    animation-duration: 3000ms;
    margin-top: 100px;
    transition: 1s;
}

.furnitureSection{
    box-shadow: 10px 9px 4px -6px rgba(0,0,0,.5);
    padding-bottom: 30px;
    position: relative;
}

.funitureInformationContent{
    padding-left: 20px;
    padding-right: 20px;
}

.funitureImageContent img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    -o-object-fit: cover;
}
.furniturePrice {
    width: 150px;
    height: 60px;
    background-color: coral;
    color: white;
    position: absolute;
    top: 0;
    left: calc(100% - 150px);
    text-align: center;
}

 @keyframes slowOpacity {
     from{
         opacity: 0;
     }
     to{
         opacity: 1;
     }
 }

 @keyframes moveContentToRight {
     from{
         width: calc(100% - 90px);
     }
     to{
         width: calc(100% - 460px);
     }

 }
